.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}
.fon {
  height: 950px;
  background: url("https://ru.tokkoro.com/picsup/3110731-copy-space_flat-lay_fruit_golden_marble_minimal_minimalist_overhead_pineapple.jpg");
}